@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
    background: #F6F8FD;
    color: #043F2B;
    font-family: 'Poppins', sans-serif;
}

.nav-item .nav-link {
    color: #043F2B;
    margin: 0 40px;
}

.nav-item .nav-link.active {
    color: #5A8A52;
    font-weight: 800;
}

.bg-blur {
    backdrop-filter: blur(10px);
    background-color: #f6f8fd2d;
}

#hero {
    height: 70vh;
    /* background: linear-gradient(90deg, #98EECC, #CBFEEA);
    background-image: url('assets/hero-bg.svg'); */
    background: url("./assets/hero-bg.svg") center/contain no-repeat, linear-gradient(90deg,
            #98EECC,
            #CBFEEA);
    background-position: left;
    background-size: auto;
}

.card {
    color: #043F2B;
}

.h-70-vh {
    height: 70vh;
}

.form-control {
    height: 70px;
}

.input-groups {
    position: relative;
    width: 80%;
}


#send-button {
    color: #043F2B;
    background-color: #CBFEEA;
    padding: 0 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: none;
    outline: none;
    z-index: 2;
}

.leading-text {
    color: #5A8A52;
    font-weight: 800;
}


.layanan img {
    border-radius: 40px;
}